<div class="col_w300 float_r">
    <h3>{{ 'Categories'|trans }}</h3>
    <ul class="tmo_list">
        <li><a href="{{ path('frontend_deck_keeper_index') }}">{{ 'Cards'|trans }}</a></li>
        <li><a href="{{ path('frontend_deck_keeper_cardset_index') }}">{{ 'Sets'|trans }}</a></li>
    </ul>
    <div class="cleaner h30"></div>

</div>
